.pageDescription {
  font-size: 18px;
  color: white;
}

select {
  width: 130px;
  height: 30px;
}

input {
  width: 130px;
}

.btn-edit {
  background: blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 0px;
  text-transform: uppercase;
  width: 130px;
  height: 45px;
}

.btn-edit:hover {
  color: white;
}
