.nav-link {
  display: block;
  padding: 1rem 0.1rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-size: 18px;
  font-weight: bold;
}

.active {
  color: white;
  text-decoration: underline;
}
