/* The page. For most pages, contains solely the image. For the first, also the login banner. */
.comic-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comic-page .comic-image {
    flex-grow: 1;
    /* Really there should never be any overflow */
    overflow: hidden;
}

.comic-page .comic-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}